<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/libs/js/jquery.min.js"><\/script>')</script>
<script src="{{" /assets/js/all.js " | prepend: site.baseurl }}"></script>


{% include scripts.js %}
</body>

</html>
